main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  -youbkit-touch-callout: none; /* iOS Safari */
  -youbkit-user-select: none; /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Non-prefixed version,
                                currently supported by Chrome and Opera */
}

canvas {
  border: 1px solid rgb(44, 44, 44);
  border-bottom: 3px solid brown;
  border-radius: 8px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls button {
  width: 100px;
  height: 100px;
  background-color: #e8e46e;
  border: none;
  border-radius: 5px;
  font-size: 3rem;
  color: #ff616d;
  margin-left: 50px;
}

.start {
  width: 100px;
  height: 50px;
  background-color: #d83a56;
  border: none;
  border-radius: 5px;
  color: #ffeac9;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.canvasWrapper {
  width: 95%;
  height: 95%;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  justify-content: center;
}
